name: Build

on:
  push:
    tags:
      - 'v*.*.*'
  pull_request:
    branches: [ main ]

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        mode: [ release, dev ]
        go: [ "1.24" ]

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}

      - name: Build meej (Linux)
        if: runner.os == 'Linux'
        run: |
          GIT_COMMIT=$(git rev-parse --short HEAD)
          VERSION_TAG=${{ github.ref_name }}
          BUILD_TYPE=${{ matrix.mode }}
          go build -o deej-release -ldflags "-s -w -X main.gitCommit=$GIT_COMMIT -X main.versionTag=$VERSION_TAG -X main.buildType=$BUILD_TYPE" ./pkg/meej/cmd

      - name: Build meej (Windows)
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          $GIT_COMMIT = (git rev-parse --short HEAD)
          $VERSION_TAG = "${{ github.ref_name }}"
          $BUILD_TYPE = "${{ matrix.mode }}"
          go build -o deej-release.exe -ldflags "-s -w -X main.gitCommit=$GIT_COMMIT -X main.versionTag=$VERSION_TAG -X main.buildType=$BUILD_TYPE" ./pkg/meej/cmd