name: Build

on:
  push:
    tags:
      - 'v*.*.*'
  pull_request:
    branches: [main]

jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
        mode: [release, dev]
        go: ["1.24"]

    steps:
      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go }}

      - name: Checkout
        uses: actions/checkout@v5

      - name: Build deej
        run: |
          GIT_COMMIT=$(git rev-parse --short HEAD)
          VERSION_TAG=${{ github.ref_name }}
          BUILD_TYPE=${{ matrix.mode }}
          go build -o deej-release -ldflags "-s -w -X main.gitCommit=$GIT_COMMIT -X main.versionTag=$VERSION_TAG -X main.buildType=$BUILD_TYPE" ./pkg/deej/cmd
          

